@import "../../../utilities/styles/utils.module.scss";

.pos-page{
    @include flex(column);
    min-height: 100vh;
    .pos-page-wrapper{
        width: 100%;
        @include flex(row);
        .cart{
            width: 30%;
            min-height: 100vh;
            padding: 1.5rem;
            background-color: #eeefff;
            .cart-header{
                height: 20vh;
                @include flex(row);
                @include flex-center-between();
            }
            .cart-body{
                @include flex(column);
                margin-top: 1.5rem;
                max-height: 650px;
                overflow: auto;
                .cart-body-header{
                    @include flex(row);
                    justify-content: flex-end;
                    margin: 15px 0;
                }
                .operations{
                    @include flex(row);
                    justify-content: center;
                    align-items: center;
                    .operation{
                        background-color: #ccc;
                        border-radius: 5px;
                        margin:0 10px;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                    .price{
                        @include flex(row);
                        @include flex-item-center();
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        padding-top: 3px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .cart-payment{
                @include flex(row);
                margin: 15px 0;
                button{
                    flex: 1;
                    height: 55px;
                }
                button:last-of-type{
                    margin-left: 10px;
                }
            }
        }
        .pos-main{
            @include flex(column);
            width: 70%;
            min-height: 100vh;
            .pos-header{
                height: 10vh;
                padding: 1rem;
                margin-bottom: 1.3rem;
                nav{
                    @include flex(row);
                    @include flex-item-between();
                    .categories{
                        @include flex(row);
                        @include flex-item-center();
                        label{
                            margin-right: .5rem;
                        }
                    }
                }
            }

            .search-form{
                padding: 0 10px;
                margin-bottom: 1rem;
                div{
                    width: 100%;
                }
            }

            .products{
                @include flex(row);
                flex-wrap: wrap;
                .product{
                    width: 150px;
                    height: 150px;
                    background-color: lightblue;
                    margin: 0  0 .8rem .4rem;
                    border-radius: 1rem;
                }
            }
        }
    }
}